<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab12</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <div class="card">
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required /><br/><br/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required /><br/><br/>

            <button type="submit">Login</button>
        </form>
        <div id="loginResult"></div>
    </div>
</div>



<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        fetch('/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username: username, password: password })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Login failed');
                }
                return response.json();
            })
            .then(data => {
                localStorage.setItem('jwt', data.token);
                document.getElementById('loginResult').innerText = 'Login successful!';
                window.location.href = 'cities';
            })
            .catch(error => {
                document.getElementById('loginResult').innerText = 'Login failed: ' + error.message;
            });
    });
</script>

</body>
</html>